body
	{
		background-color: lightgrey;
	}

a:link, a:visited
	{
		background-color: lightblue;
		color:black;
		text-decoration: none;
		padding: 16px;
		text-align: center;
		display: inline-block;
		font-family: times-new roman;
	}

a:hover
	{
		color:lightyellow;
		background-color: orange;
		text-decoration: underline;
	}

a:active
	{
		color: floralwhite;
		background-color: red;
		text-decoration: underline;
	}